nav {
  --height: 70px;
  --background: gray;
  --factor: 1.8;
  width: 100%;
  height: var(--height);
  background-color: var(--background);
  position: fixed;
  top: 0;
  z-index: 3;

  @media (max-width: 800px) {
    --height: 50px;
    --factor: 2.3;
  }

  .alert {
    // position: absolute;
    font-size: 16px;
    color: #fff;
    display: none;
    // left: 70%;
    // transform: translateX(-50%);
    position: fixed;
    left: 20px;
    z-index: 6;

    @media (max-width: 800px) {
      font-size: 13px;
      // left: 68%;
    }

    @media (max-width: 420px) {
      font-size: 11px;
      // left: 30%;
    }

    &.active {
      display: block;
    }
  }

  .items-wrapper {
    width: 100%;
    height: calc(var(--height) * var(--factor));
    position: absolute;
    transform: translateY(-120%);
    display: flex;
    justify-content: center;
    background-color: var(--background);
    z-index: 4;
    transition: all 0.8s ease;

    &.active {
      transform: translateY(20%);
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #fff;

      @media (max-width: 800px) {
        font-size: 14px;
      }

      li {
        list-style-type: none;
        cursor: pointer;

        @media (max-width: 660px) {
          cursor: default;
        }
      }
    }
  }

  .icons-wrapper {
    position: absolute;
    top: 14px;
    right: 60px;
    z-index: 5;
    display: flex;
    gap: 40px;

    @media (max-width: 800px) {
      top: 10px;
      gap: 20px;
      align-items: center;
    }

    @media (max-width: 660px) {
      right: 20px;
    }

    .edit-icons {
      // height: 80px;
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
    }

    .menu {
      width: 40px;
      cursor: pointer;
      animation: 0.6s 0s linear rotate-menu-left;

      @media (max-width: 800px) {
        width: 30px;
      }

      @media (max-width: 660px) {
        cursor: default;
      }

      &.active {
        animation: 0.6s 0s linear rotate-menu-right;
      }
    }

    .cancel,
    .cancel-true {
      width: 56px;
      height: 56px;
      position: absolute;
      right: 150%;
      display: none;

      @media (max-width: 800px) {
        width: 36px;
        height: 36px;
        top: -18%;
        right: 120%;
      }
    }

    .check,
    .check-true {
      width: 30px;
      display: none;

      @media (max-width: 800px) {
        width: 20px;
        height: 25px;
      }
    }

    .check.visible,
    .cancel.visible {
      display: block;
    }

    .check-true.visible,
    .cancel-true.visible {
      display: block;
      cursor: pointer;
      animation: 0.8s infinite linear growing-scale;

      @media (max-width: 660px) {
        cursor: default;
      }

      .check.visible,
      .cancel.visible {
        display: none;
      }
    }
  }

  .wrapper {
    position: fixed;
    top: var(--height);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;

    &.active {
      display: block;
    }
  }
}

@keyframes rotate-menu-right {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-menu-left {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes growing-scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
